.navbar {
    
    color: #300000;
    
    display: flex;
    
  }
  
  .navbar-items {
    display: flex;
    margin-top: 30px;
    margin-left: 1100px;
  }
  
  .navbar-item {
    margin-right: 15px;
    cursor: pointer;
  }
  .head{
    color: rgb(238, 16, 16);
    text-align: center;
    background-color: aliceblue;
    font-size: 25px;
    margin-bottom: 5px;
  
   
  }
  
  .notification-count
  {
    color: blue;
  }
  /* Navigation.css */
  .highlighted {
    background-color: #a4fcff; /* Background color for highlighted notification */
    border: 2px solid #ff0000; /* Border for highlighted notification */
    border-radius: 4px; /* Rounded corners for the border */
    padding: 10px; /* Add some padding to the highlighted notification */
    margin-bottom: 10px; /* Add margin between highlighted notifications */
  }
  
  .dialog-content {
    .highlighted:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .custom-dialog {
    max-width: 800px; /* Adjust the width as needed */
  }